.cardContainer {
  position: relative;
}
.playButton {
  position: absolute;
  top: 5rem;
  left: 50%;
  z-index: 1;
  height: 4rem;
  margin-left: -5rem;
}
.welcome {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  h6 {
    text-decoration: underline;
    cursor: pointer;
  }
}

.gameRules {
  padding-top: 10px;
}